<!doctype html>
<html>
<body>
<div class="div2">
<form action = "http://localhost:5000" method = "POST">
<p> Masukin biaya endorsement
<input type = "text" name = "Biayaiklan" />
<input type = "submit" value = "ok" /> </p>
</form>
<p>Prediksi pendapatan anda adalah: {{ result }}</p>
</div>
</body>
<style>
.div2 {
width: 400px;
height: 100px;
padding: 50px;
border: 1px solid black;
}
</style>
</html>